*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin-top: 30px;
    background: #187a0d;
}

.pokemon{
    justify-content: center;
    display: flex;
    gap: 30px;
    column-gap: 30px;
    flex-wrap: wrap;   
}

.mult{
    border: 2px solid black;
    border-radius: 20px;
    text-align: center;
    padding: 15px;
    max-width: 300px;
    width: 100%;
    background-color: #21610e;
    margin: 10px 0px; 
}

.form-label{
    position: absolute;
    top: 6px;
}

h4{
    border-top: 2px solid black;
}

p{
    display: inline-block;
    font-size: 19px;
    font-weight: 600;
    margin-left: 20px;
}

span{
    display: block;
    font-size: 19px;
    font-weight: 800;
}
